<td><input type="checkbox" name="id" value="<%= campaign._id %>" /></td>
<% _.each(keys, function(key) { %>
    <% if (key == 'status') { %>
        <td>
            <select name="<%= key %>">
                <% if (campaign[key]) { %>
                    <option value="true" selected="true">Active</option>
                    <option value="false">Inactive</option>
                <% } else { %>
                    <option value="true">Active</option>
                    <option value="false" selected="true">Inactive</option>
                <% } %>
            </select>
        </td>
    <% } else if (key.indexOf('date') > -1) { %>
        <td><input type="text" name="<%= key %>" value="<%= campaign[key] %>"/></td>
    <% } else { %>
        <td><input type="text" name="<%= key %>" value="<%= campaign[key] %>"/></td>
    <% } %>
<% }); %>